services:
  app:
    image: dukerupert/rr:latest
    ports:
      - "1234:8080"
    environment:
      - ORDERSPACE_CLIENT_ID=${ORDERSPACE_CLIENT_ID}
      - ORDERSPACE_CLIENT_SECRET=${ORDERSPACE_CLIENT_SECRET}
      - POSTMARK_SERVER_TOKEN=${POSTMARK_SERVER_TOKEN}
      - DATABASE_URL=/data/app.db
    volumes:
      - db-data:/data

volumes:
  db-data:

